/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Chonburi&family=Poppins:wght@400;600;700&display=swap');

/* font-family: 'Barriecito', cursive; */
/* font-family: 'Chonburi', cursive; */
/* font-family: 'Poppins', sans-serif; */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* full page */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #DBDBDB;
    font-family: 'Poppins', sans-serif;
}

main {
    margin-top: 5rem;
    color: #191516;
}


/* Nav */

.navbar {
    z-index: 10;
    background-color: #DBDBDB;
    top: 0;
    position: fixed;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Chonburi', cursive;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5%;
    text-decoration: none;
    color: #191516;
}

.menu {
    margin-right: 5%;
    text-decoration: none;
    color: #191516;
}

.menu:hover {
    color: #84596B;
    cursor: pointer;
}


/* Intro */

.intro-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 4rem;
    padding-top: 10%;
    margin-bottom: 15%;
    margin-left: 14%;
    margin-right: 14%;
}

.intro-container h2 {
    margin-top: .7rem;
    font-size: 3rem;
    font-weight: bold;
}

.intro-container .ln {
    color: #1f6f89;
}

.intro-description {
    margin-top: 1.5rem;
    width: 650px;
    line-height: 1.15rem;
}

.intro-container img {
    width: auto;
    height: 350px;
    border-radius: 175px;
}

.portfolio-btn {
    position: relative;
    top: 3rem;
    padding: 15px 35px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .04rem;
    background-color: #191516;
    color: #DBDBDB;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
}

.portfolio-btn:hover {
    background-color: rgba(25, 21, 22, .75)
}

.contact {
    text-decoration: none;
    color: #84596B;
    position: relative;
    top: 3rem;
    left: .5rem;
    margin-left: 2.5rem;
}

.contact:hover {
    color: #191516;
}


/* Projects */

.portfolio {
    height: 750px;
}

.projects-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    position: relative;
    top: 12%;
    padding-bottom: 2.5rem;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    margin-top: 9%;
}

.veer {
    max-width: 400px;
}

.veerphotolink {
    display: block;
    max-width: 400px;
    width: auto;
    height: auto;
    margin-bottom: 3rem;
    border-radius: 12px;
    transition: .25s;
}

.veerphotolink:hover {
    transition: 0.25s;
    transform: scale(1.05, 1.05);
    opacity: .8;
}

.project-links {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1rem;
}

.project-desc {
    font-size: .9rem;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 1.15rem;
}

.veer h3 {
    font-weight: bold;
    font-size: 1.7rem;
}

.veer a {
    display: block;
    color: #84596B;
    text-decoration: none;
}

.veer a:hover {
    color: #191516;
}


/* Skills */

.skills {
    padding-top: 5%;
    height: 350px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color: #FAFAFF;
}

.skills-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3.5rem;
    margin-left: 10%;
    margin-right: 10%;
}

.skills-list img {
    width: 125px;
    height: auto;
}

.javascript figcaption {
    margin-top: .5rem;
    text-align: center;
}

.nodejs figcaption {
    margin-top: .5rem;
    text-align: center;
}

.express figcaption {
    margin-top: .5rem;
    text-align: center;
}

.react figcaption {
    margin-top: .5rem;
    text-align: center;
}

.postgresql figcaption {
    margin-top: .5rem;
    text-align: center;
}

.heroku figcaption {
    margin-top: .5rem;
    text-align: center;
}


/* About Me */

.aboutme {
    height: 700px;
}

.aboutme-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 7%;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    gap: 3rem;
}

.aboutme-img {
    display: block;
    max-width: 500px;
    height: auto;
    width: auto;
    border-radius: 15px;
    margin-top: 10%;
}

.aboutme-content {
    width: 600px;
    margin-top: 10%;
    line-height: 1.2rem;
}


/* MOBILE */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .menu {
        display: none;
    }

    .intro-description {
        width: 320px;
    }

    .intro-container {
        flex-direction: column-reverse;
    }

    .intro-container img {
        height: 250px;
        width: auto;
        border-radius: 125px;
    }

    .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .portfolio-btn {
        display: none;
    }

    .contact {
        margin: 0;
        position: relative;
        top: 3rem;
        padding: 15px 35px;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: .04rem;
        background-color: #191516;
        color: #DBDBDB;
        border: 0;
        border-radius: 5px;
        text-decoration: none;
    }

    .portfolio {
        height: 1300px;
    }

    .projects {
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .veerphotolink {
        max-width: 320px;
        margin-top: 4rem;
    }

    .projects-title {
        margin-top: 6rem;
        margin-bottom: 7rem;
        padding-bottom: 1.5rem;
    }

    .project-desc {
        max-width: 320px;
    }

    .skills {
        height: 720px;
        max-width: 100vw;
        padding-top: 4rem;
    }

    .skills-list {
        margin-left: 13%;
        margin-right: 13%;
        gap: 4rem;
    }

    .skills-list img {
        width: 100px;
        height: auto;
    }

    .aboutme-title {
        margin-top: 20%;
    }

    .about-content {
        flex-direction: column;
    }

    .aboutme-img {
        max-width: 300px;
        margin-top: 15%;
    }

    .aboutme-content {
        width: 320px;
        margin-top: 3%;
        margin-bottom: 3rem;
    }

}